<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h4 th:text="${msg}"></h4>
    <table align="center">
        <tr>
            <td>用户名:</td>
            <td><input type="text" id="username" placeholder="请输入用户名"/></td>
        </tr>
        <tr>
            <td>密码:</td>
            <td><input type="password" id="password" placeholder="请输入密码"/></td>
        </tr>
        <tr>
            <td>确认密码:</td>
            <td><input type="password" id="confirmPassword" placeholder="请确认密码"/></td>
        </tr>
        <tr>
            <td>昵称:</td>
            <td><input type="nickname" id="nickname" placeholder="请输入昵称"/></td>
        </tr>
        <tr>
            <td>电话:</td>
            <td><input type="text" id="phone" placeholder="请输入用户名"/></td>
        </tr>
        <tr>
            <td>邮箱:</td>
            <td><input type="text" id="email" placeholder="请输入用户名"/></td>
        </tr>
        <tr>
            <td><input type="button" id="submit" value="提交"/> </td>
            <td><input type="button" id="exit" value="取消"/></td>
        </tr>
    </table>
</body>
<script type="text/javascript" src="/js/jquery-3.2.1.js"></script>
<script type="text/javascript">
    $(function() {
        $("submit").click(function () {
            var username = $("#username").val();
            var password = $("#password").val();
            var nickname = $("#nickname").val();
            var phone = $("#phone").val();
            var email = $("#email").val();
            var data = {
                "username": username,
                "password": password,
                "nickname": nickname,
                "phone": phone,
                "email": email,
            };
            $.ajax({
                type: "post",
                url: "/register",
                data: data,
                dataType: "json",
                success: function (data) {
                }
            });
        });
    });
</script>
</html>